final_deployment.txt
[{"id":"8705c039.78fa4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"af1b19d9.50e4e8","type":"rpi-gpio out","z":"8705c039.78fa4","name":"","pin":"38","set":"","level":"0","freq":"","out":"out","x":1460,"y":500,"wires":[]},{"id":"28bfb3e5.d7404c","type":"inject","z":"8705c039.78fa4","name":"","topic":"","payload":"0","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1250,"y":420,"wires":[["af1b19d9.50e4e8"]]},{"id":"c86d5930.3792a8","type":"mqtt in","z":"8705c039.78fa4","name":"","topic":"panic/button","qos":"1","broker":"fbfc5522.0403a8","x":990,"y":580,"wires":[["5a9193a6.a56e6c","8bd81ca2.7427e"]]},{"id":"5a9193a6.a56e6c","type":"switch","z":"8705c039.78fa4","name":"Check Button","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"pressed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":680,"wires":[["a06546aa.5f9ab8"]]},{"id":"a06546aa.5f9ab8","type":"change","z":"8705c039.78fa4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":660,"wires":[[]]},{"id":"8bd81ca2.7427e","type":"debug","z":"8705c039.78fa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":520,"wires":[]},{"id":"fbfc5522.0403a8","type":"mqtt-broker","z":"","name":"mqtt","broker":"broker.emqx.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]