Final-flow-nodered-rpi.json
[
    {
        "id": "bb656782406480db",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1d17b09e.e2e84f",
        "type": "mqtt in",
        "z": "bb656782406480db",
        "name": "",
        "topic": "panic/button",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "50427091.afbd9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "64fd5343.9b02ac",
                "69cd3669.9632c8",
                "d7e16f385039ebec"
            ]
        ]
    },
    {
        "id": "3037a37f.cfc85c",
        "type": "change",
        "z": "bb656782406480db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 200,
        "wires": [
            [
                "c9ae11114b194179"
            ]
        ]
    },
    {
        "id": "64fd5343.9b02ac",
        "type": "switch",
        "z": "bb656782406480db",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pressed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "notpressed",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "3037a37f.cfc85c"
            ],
            [
                "44199065a1711d6d"
            ]
        ]
    },
    {
        "id": "69cd3669.9632c8",
        "type": "debug",
        "z": "bb656782406480db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "44199065a1711d6d",
        "type": "change",
        "z": "bb656782406480db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 260,
        "wires": [
            [
                "c9ae11114b194179"
            ]
        ]
    },
    {
        "id": "c9ae11114b194179",
        "type": "rpi-gpio out",
        "z": "bb656782406480db",
        "d": true,
        "name": "Buzzer",
        "pin": "20",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "c5363519b42d4e1e",
        "type": "mqtt in",
        "z": "bb656782406480db",
        "name": "",
        "topic": "panic/touch",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "50427091.afbd9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 390,
        "y": 380,
        "wires": [
            [
                "053fd061cd69564b",
                "ddcc4f0333309691"
            ]
        ]
    },
    {
        "id": "053fd061cd69564b",
        "type": "function",
        "z": "bb656782406480db",
        "name": "Handle Touch Event",
        "func": "if (msg.topic === \"panic/touch\") {\n    return { topic: \"INSERT INTO touch (timestamp, touch_data) VALUES (CURRENT_TIMESTAMP, '\" + msg.payload + \"')\" };\n} else {\n    return { topic: \"INSERT INTO touch (timestamp, touch_data) VALUES (CURRENT_TIMESTAMP, 'not touched')\" };\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 500,
        "wires": [
            [
                "5f69bc964f42d5b6",
                "ddcc4f0333309691"
            ]
        ]
    },
    {
        "id": "5f69bc964f42d5b6",
        "type": "mysql2",
        "z": "bb656782406480db",
        "name": "MariaDB",
        "server": "14af94f28f15dbaa",
        "bind": false,
        "topic": "INSERT INTO touch (timestamp, touch_data) VALUES (CURRENT_TIMESTAMP, msg.payload);",
        "x": 700,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f0d0d00bc9c6fa8f",
        "type": "mysql2",
        "z": "bb656782406480db",
        "name": "MariaDB",
        "server": "14af94f28f15dbaa",
        "bind": false,
        "topic": "SELECT timestamp,touch_data FROM touch ORDER BY timestamp DESC LIMIT 2;",
        "x": 880,
        "y": 280,
        "wires": [
            [
                "fb054444d38c981c"
            ]
        ]
    },
    {
        "id": "47d584295ae7b7e8",
        "type": "inject",
        "z": "bb656782406480db",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 830,
        "y": 200,
        "wires": [
            [
                "f0d0d00bc9c6fa8f",
                "8935fd8844db9b59"
            ]
        ]
    },
    {
        "id": "fb054444d38c981c",
        "type": "function",
        "z": "bb656782406480db",
        "name": "function 1",
        "func": "if (msg.payload.length>=2 && msg.payload[0].touch_data === \"not touched\" && msg.payload[1].touch_data === \"not touched\") {\n    return {payload: 'one'};\n} else {\n    return {payload: 'zero'};\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 340,
        "wires": [
            [
                "c9ae11114b194179",
                "691b8560394e3a90",
                "41183d7a7df7a700",
                "d3a2e761c3ba64f0"
            ]
        ]
    },
    {
        "id": "691b8560394e3a90",
        "type": "mqtt out",
        "z": "bb656782406480db",
        "name": "",
        "topic": "panic/alarm",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "50427091.afbd9",
        "x": 1140,
        "y": 340,
        "wires": []
    },
    {
        "id": "41183d7a7df7a700",
        "type": "debug",
        "z": "bb656782406480db",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 440,
        "wires": []
    },
    {
        "id": "d7e16f385039ebec",
        "type": "function",
        "z": "bb656782406480db",
        "name": "function 3",
        "func": "if (msg.payload === \"pressed\") {\n    msg.payload=\"ON\";\n} else {\n    msg.payload=\"OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 120,
        "wires": [
            [
                "f827c42d4ce63e25"
            ]
        ]
    },
    {
        "id": "d3a2e761c3ba64f0",
        "type": "function",
        "z": "bb656782406480db",
        "name": "function 4",
        "func": "if (msg.payload === \"one\") {\n    msg.payload=\"Medicine not taken for two days\";\n} else {\n    msg.payload=\"Medicine taken\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 460,
        "wires": [
            [
                "3a36671b12dde5c6"
            ]
        ]
    },
    {
        "id": "ddcc4f0333309691",
        "type": "trigger",
        "z": "bb656782406480db",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "date",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "touched",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 430,
        "y": 620,
        "wires": [
            [
                "053fd061cd69564b"
            ]
        ]
    },
    {
        "id": "c98e9580e829b8b8",
        "type": "ui_chart",
        "z": "bb656782406480db",
        "name": "Pulse chart",
        "group": "09264abf46c2454e",
        "order": 16,
        "width": 6,
        "height": 5,
        "label": "<b>PULSE</b>",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "60",
        "ymax": "100",
        "removeOlder": "70",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "chart-element",
        "x": 830,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "ff72844f4f20f5ad",
        "type": "ui_chart",
        "z": "bb656782406480db",
        "name": "Sugar level chart",
        "group": "09264abf46c2454e",
        "order": 8,
        "width": 6,
        "height": 5,
        "label": "<b>SUGAR LEVELS</b>",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "80",
        "ymax": "120",
        "removeOlder": "70",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#aec7e8",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "chart-element",
        "x": 850,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "35af264d86130bc3",
        "type": "ui_chart",
        "z": "bb656782406480db",
        "name": "Oxygen Level chart",
        "group": "09264abf46c2454e",
        "order": 15,
        "width": 6,
        "height": 5,
        "label": "<b>OXYGEN LEVELS</b>",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "90",
        "ymax": "100",
        "removeOlder": "70",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "chart-element",
        "x": 850,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "1b6009e1e693e991",
        "type": "ui_chart",
        "z": "bb656782406480db",
        "name": "BPM chart",
        "group": "09264abf46c2454e",
        "order": 7,
        "width": 6,
        "height": 5,
        "label": "<b>BPM</b>",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "90",
        "ymax": "100",
        "removeOlder": "70",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "chart-element",
        "x": 830,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "db6c52cb19d95dfc",
        "type": "inject",
        "z": "bb656782406480db",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 840,
        "wires": [
            [
                "a61c476e47d4e5d4",
                "b5a381dbe498e458",
                "e26d6ccb9e137080",
                "fb606c7da8820014"
            ]
        ]
    },
    {
        "id": "a61c476e47d4e5d4",
        "type": "function",
        "z": "bb656782406480db",
        "name": "Pulse",
        "func": "const minPulse = 60; // Minimum pulse value\nconst maxPulse = 100; // Maximum pulse value\n\nconst randomPulse = Math.floor(Math.random() * (maxPulse - minPulse + 1)) + minPulse;\n\nmsg = { payload: randomPulse };\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 780,
        "wires": [
            [
                "c98e9580e829b8b8"
            ]
        ]
    },
    {
        "id": "b5a381dbe498e458",
        "type": "function",
        "z": "bb656782406480db",
        "name": "Sugar-Levels",
        "func": "const minSugarLevel = 80; // Minimum sugar level value\nconst maxSugarLevel = 120; // Maximum sugar level value\n\nconst randomSugarLevel = Math.floor(Math.random() * (maxSugarLevel - minSugarLevel + 1)) + minSugarLevel;\n\nmsg = { payload: randomSugarLevel };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 740,
        "wires": [
            [
                "ff72844f4f20f5ad"
            ]
        ]
    },
    {
        "id": "e26d6ccb9e137080",
        "type": "function",
        "z": "bb656782406480db",
        "name": "Oxygen-Levels",
        "func": "const minOxygenLevel = 90; // Minimum oxygen level value\nconst maxOxygenLevel = 100; // Maximum oxygen level value\n\nconst randomOxygenLevel = Math.floor(Math.random() * (maxOxygenLevel - minOxygenLevel + 1)) + minOxygenLevel;\n\nmsg = { payload: randomOxygenLevel };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 840,
        "wires": [
            [
                "35af264d86130bc3"
            ]
        ]
    },
    {
        "id": "fb606c7da8820014",
        "type": "function",
        "z": "bb656782406480db",
        "name": "BPM",
        "func": "const minOxygenLevel = 90; // Minimum oxygen level value\nconst maxOxygenLevel = 100; // Maximum oxygen level value\n\nconst randomOxygenLevel = Math.floor(Math.random() * (maxOxygenLevel - minOxygenLevel + 1)) + minOxygenLevel;\n\nmsg = { payload: randomOxygenLevel };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 920,
        "wires": [
            [
                "1b6009e1e693e991"
            ]
        ]
    },
    {
        "id": "1aef420c605af6fe",
        "type": "inject",
        "z": "bb656782406480db",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "c5c00228449829ae",
        "type": "ui_template",
        "z": "bb656782406480db",
        "group": "09264abf46c2454e",
        "name": "Custom CSS",
        "order": 221,
        "width": 6,
        "height": 6,
        "format": "<style>\n  /* Global styles */\n  body {\n    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n    background-color: #f0f0f0;\n    padding: 20px;\n  }\n\n  .container {\n    display: flex;\n    flex-wrap: wrap;\n    justify-content: space-between;\n    margin-bottom: 20px;\n  }\n\n  .chart-element {\n    width: calc(50% - 10px);\n    border: 1px solid #ddd;\n    border-radius: 5px;\n    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n    background-color: #fff;\n    height: 300px;\n    margin-bottom: 20px;\n  }\n\n   .chart-element2 {\n    width: calc(50% - 10px);\n    border: 1px solid #ddd;\n    border-radius: 5px;\n    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n    background-color: black;\n    color: white;\n    height: 300px;\n    margin-bottom: 20px;\n}\n\n  /* Button */\n  .button-element {\n    padding: 10px 20px;\n    font-size: 16px;\n    background-color: #F0F0F0;\n    color: black;\n    border: none;\n    border-radius: 5px;\n    cursor: pointer;\n\n  }\n\n  /* Alarm Status */\n  .alarm-status {\n    font-size: 16px;\n    color: #FF5733;\n    margin-top: 20px;\n  }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1070,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "3a36671b12dde5c6",
        "type": "ui_text",
        "z": "bb656782406480db",
        "group": "09264abf46c2454e",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "Alarm Status",
        "label": "ALARM STATUS",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "chart-element2",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 870,
        "y": 520,
        "wires": []
    },
    {
        "id": "f827c42d4ce63e25",
        "type": "ui_text",
        "z": "bb656782406480db",
        "group": "09264abf46c2454e",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "Button Status",
        "label": "BUTTON STATUS",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "chart-element2",
        "style": true,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1140,
        "y": 120,
        "wires": []
    },
    {
        "id": "47d4c752e36288d9",
        "type": "ui_table",
        "z": "bb656782406480db",
        "group": "09264abf46c2454e",
        "name": "<b>TOUCH DATA</b>",
        "order": 9,
        "width": 7,
        "height": 10,
        "columns": [
            {
                "field": "timestamp",
                "title": "timestamp",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "touch_data",
                "title": "touch_data",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 1180,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2f208498fc98cd4a",
        "type": "function",
        "z": "bb656782406480db",
        "name": "Format Data",
        "func": "var tableData = [];\n\n// Assuming msg.payload contains data from the database\nvar dbData = msg.payload;\n\n// Format the data as per ui_table requirements\nfor (var i = 0; i < dbData.length; i++) {\n    tableData.push({\n        \"timestamp\": dbData[i].timestamp,\n        \"touch_data\": dbData[i].touch_data\n    });\n}\n\nmsg.payload = tableData;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 220,
        "wires": [
            [
                "47d4c752e36288d9",
                "7a07cb117a285fdd"
            ]
        ]
    },
    {
        "id": "7a07cb117a285fdd",
        "type": "debug",
        "z": "bb656782406480db",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 220,
        "wires": []
    },
    {
        "id": "8935fd8844db9b59",
        "type": "mysql2",
        "z": "bb656782406480db",
        "name": "MariaDB",
        "server": "14af94f28f15dbaa",
        "bind": false,
        "topic": "SELECT timestamp,touch_data FROM touch ORDER BY timestamp DESC LIMIT 20;",
        "x": 1000,
        "y": 180,
        "wires": [
            [
                "2f208498fc98cd4a"
            ]
        ]
    },
    {
        "id": "448463363d6efd9f",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 1,
        "width": 24,
        "height": 1
    },
    {
        "id": "3a32f663ead4cb97",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "75398cf47085a911",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "25c746a1d96dfaf4",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 6,
        "width": 13,
        "height": 1
    },
    {
        "id": "52ca3a845a1cbe99",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 10,
        "width": 5,
        "height": 1
    },
    {
        "id": "f2eccc136340dc5c",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 11,
        "width": 5,
        "height": 1
    },
    {
        "id": "270f60853a476604",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 12,
        "width": 5,
        "height": 1
    },
    {
        "id": "47e280bc267e2830",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 13,
        "width": 5,
        "height": 1
    },
    {
        "id": "55591e912efbdeec",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 14,
        "width": 5,
        "height": 1
    },
    {
        "id": "74666a836e5afa68",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 17,
        "width": 5,
        "height": 1
    },
    {
        "id": "c65f3fea867f9d0a",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 18,
        "width": 5,
        "height": 1
    },
    {
        "id": "b3748dd104bbdadf",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 19,
        "width": 5,
        "height": 1
    },
    {
        "id": "5ef4ef7d776a2fc9",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 20,
        "width": 5,
        "height": 1
    },
    {
        "id": "f9c5c03ea5a36522",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 21,
        "width": 5,
        "height": 1
    },
    {
        "id": "47aa659324b3d7fd",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 22,
        "width": 24,
        "height": 1
    },
    {
        "id": "87556d72fe3a462e",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 23,
        "width": 24,
        "height": 1
    },
    {
        "id": "e1efe1b61895df84",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 24,
        "width": 24,
        "height": 1
    },
    {
        "id": "ea4e578549b48f92",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 25,
        "width": 24,
        "height": 1
    },
    {
        "id": "4d98882d51c81412",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 26,
        "width": 24,
        "height": 1
    },
    {
        "id": "c72a3673c6f9a6f5",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 27,
        "width": 24,
        "height": 1
    },
    {
        "id": "47755ad50cac4c3d",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 28,
        "width": 24,
        "height": 1
    },
    {
        "id": "fa48bf76ec05d0e6",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 29,
        "width": 24,
        "height": 1
    },
    {
        "id": "b3d0e0dfb933f517",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 30,
        "width": 24,
        "height": 1
    },
    {
        "id": "3a068507ddf96e14",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 31,
        "width": 24,
        "height": 1
    },
    {
        "id": "5915741ba2cdeccf",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 32,
        "width": 24,
        "height": 1
    },
    {
        "id": "7f97f1896dae3900",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 33,
        "width": 24,
        "height": 1
    },
    {
        "id": "8d03eeb2665a167e",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 34,
        "width": 24,
        "height": 1
    },
    {
        "id": "85d290fa6278bcf3",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 35,
        "width": 24,
        "height": 1
    },
    {
        "id": "b6ed6fd461df819d",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 36,
        "width": 24,
        "height": 1
    },
    {
        "id": "1610c02962b36132",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 37,
        "width": 24,
        "height": 1
    },
    {
        "id": "73a9d63e269f2eaa",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 38,
        "width": 24,
        "height": 1
    },
    {
        "id": "6bb25ac416b6f63f",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 39,
        "width": 24,
        "height": 1
    },
    {
        "id": "8b9f731dcca2da89",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 40,
        "width": 24,
        "height": 1
    },
    {
        "id": "47d426b75b189ece",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 41,
        "width": 24,
        "height": 1
    },
    {
        "id": "11d0d9e5040b8d65",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 42,
        "width": 24,
        "height": 1
    },
    {
        "id": "470bd4dbdf09de18",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 43,
        "width": 24,
        "height": 1
    },
    {
        "id": "6cc2f5776c62681b",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 44,
        "width": 24,
        "height": 1
    },
    {
        "id": "6d76625e2cd203dc",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 45,
        "width": 24,
        "height": 1
    },
    {
        "id": "ae58b759a0f49ab1",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 46,
        "width": 24,
        "height": 1
    },
    {
        "id": "4aa44f6cdf13856c",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 47,
        "width": 24,
        "height": 1
    },
    {
        "id": "eedc81930511ebf3",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 48,
        "width": 24,
        "height": 1
    },
    {
        "id": "95374909677cbd0c",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 49,
        "width": 24,
        "height": 1
    },
    {
        "id": "4c5a72b179d80779",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 50,
        "width": 24,
        "height": 1
    },
    {
        "id": "f6ed62c3322a2587",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 51,
        "width": 24,
        "height": 1
    },
    {
        "id": "bf19378aaa4248d8",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 52,
        "width": 24,
        "height": 1
    },
    {
        "id": "878da0ca8a6f520f",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 53,
        "width": 24,
        "height": 1
    },
    {
        "id": "4dbf2e60b751aacc",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 54,
        "width": 24,
        "height": 1
    },
    {
        "id": "7a70e4c85b2b878e",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 55,
        "width": 24,
        "height": 1
    },
    {
        "id": "342ef133c943a5b4",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 56,
        "width": 24,
        "height": 1
    },
    {
        "id": "e59ea6f6e236cfb1",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 57,
        "width": 24,
        "height": 1
    },
    {
        "id": "7027f79a376875dc",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 58,
        "width": 24,
        "height": 1
    },
    {
        "id": "89e4e6ae07eddcab",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 59,
        "width": 24,
        "height": 1
    },
    {
        "id": "744b11d27832e822",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 60,
        "width": 24,
        "height": 1
    },
    {
        "id": "167b484e6591927a",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 61,
        "width": 24,
        "height": 1
    },
    {
        "id": "27cb5f1302b16ba5",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 62,
        "width": 24,
        "height": 1
    },
    {
        "id": "f0abe66051ad4731",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 63,
        "width": 24,
        "height": 1
    },
    {
        "id": "66290ddeea4402c3",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 64,
        "width": 24,
        "height": 1
    },
    {
        "id": "07a84525fd59f879",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 65,
        "width": 24,
        "height": 1
    },
    {
        "id": "5f687de77b3e2bac",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 66,
        "width": 24,
        "height": 1
    },
    {
        "id": "96181e40e427d395",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 67,
        "width": 24,
        "height": 1
    },
    {
        "id": "261d7efcd928a684",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 68,
        "width": 24,
        "height": 1
    },
    {
        "id": "514ee636aa44cb68",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 69,
        "width": 24,
        "height": 1
    },
    {
        "id": "f2cf1d5d23354c6f",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 70,
        "width": 24,
        "height": 1
    },
    {
        "id": "0ff62d9a5b9ef028",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 71,
        "width": 24,
        "height": 1
    },
    {
        "id": "12a3a8010b742c30",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 72,
        "width": 24,
        "height": 1
    },
    {
        "id": "0ec3adbaa0817007",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 73,
        "width": 24,
        "height": 1
    },
    {
        "id": "72bf8a951cc8e9ee",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 74,
        "width": 24,
        "height": 1
    },
    {
        "id": "8520cac0a73b7117",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 75,
        "width": 24,
        "height": 1
    },
    {
        "id": "27f5c0704dc61766",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 76,
        "width": 24,
        "height": 1
    },
    {
        "id": "2be15b278e450ac8",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 77,
        "width": 24,
        "height": 1
    },
    {
        "id": "d49dbd4eb893d752",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 78,
        "width": 24,
        "height": 1
    },
    {
        "id": "66320a988512a851",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 79,
        "width": 24,
        "height": 1
    },
    {
        "id": "006ea30853340837",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 80,
        "width": 24,
        "height": 1
    },
    {
        "id": "4109586ebf1bcc7e",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 81,
        "width": 24,
        "height": 1
    },
    {
        "id": "4fea4fefde7cfed0",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 82,
        "width": 24,
        "height": 1
    },
    {
        "id": "4fc0f95b37f6f22d",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 83,
        "width": 24,
        "height": 1
    },
    {
        "id": "667edd2e8423e7c1",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 84,
        "width": 24,
        "height": 1
    },
    {
        "id": "d4fd2152afb16442",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 85,
        "width": 24,
        "height": 1
    },
    {
        "id": "bc88edaced17b9b6",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 86,
        "width": 24,
        "height": 1
    },
    {
        "id": "762ffe96ea3faf9f",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 87,
        "width": 24,
        "height": 1
    },
    {
        "id": "cbcad58f5c1a6159",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 88,
        "width": 24,
        "height": 1
    },
    {
        "id": "8830dc539ab69e6f",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 89,
        "width": 24,
        "height": 1
    },
    {
        "id": "929434b20aee55ab",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 90,
        "width": 24,
        "height": 1
    },
    {
        "id": "86e803603a5dd08b",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 91,
        "width": 24,
        "height": 1
    },
    {
        "id": "c750042689d0998f",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 92,
        "width": 24,
        "height": 1
    },
    {
        "id": "7a465a04a365569f",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 93,
        "width": 24,
        "height": 1
    },
    {
        "id": "4cd25ca8b5550979",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 94,
        "width": 24,
        "height": 1
    },
    {
        "id": "8d11de674544ee8d",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 95,
        "width": 24,
        "height": 1
    },
    {
        "id": "590335d53e717185",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 96,
        "width": 24,
        "height": 1
    },
    {
        "id": "048ab6188eb54422",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 97,
        "width": 24,
        "height": 1
    },
    {
        "id": "ac5f0f2966c267ca",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 98,
        "width": 24,
        "height": 1
    },
    {
        "id": "e3945ae906496df9",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 99,
        "width": 24,
        "height": 1
    },
    {
        "id": "060e4d704cc207e4",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 100,
        "width": 24,
        "height": 1
    },
    {
        "id": "b4d4b72790baafb4",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 101,
        "width": 24,
        "height": 1
    },
    {
        "id": "db87ecdcd72c79ca",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 102,
        "width": 24,
        "height": 1
    },
    {
        "id": "cd4f97b03d2ac5aa",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 103,
        "width": 24,
        "height": 1
    },
    {
        "id": "b6560c6ddf97febe",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 104,
        "width": 24,
        "height": 1
    },
    {
        "id": "71fddd0ed7b944df",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 105,
        "width": 24,
        "height": 1
    },
    {
        "id": "b65aabbe13b3836f",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 106,
        "width": 24,
        "height": 1
    },
    {
        "id": "92ba754f6e4b37d9",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 107,
        "width": 24,
        "height": 1
    },
    {
        "id": "211a10d842402aaf",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 108,
        "width": 24,
        "height": 1
    },
    {
        "id": "f1fbc0bedd47327d",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 109,
        "width": 24,
        "height": 1
    },
    {
        "id": "05b7fb8cd930ac41",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 110,
        "width": 24,
        "height": 1
    },
    {
        "id": "9a0817b2a9d08927",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 111,
        "width": 24,
        "height": 1
    },
    {
        "id": "7ffd4fdec213834a",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 112,
        "width": 24,
        "height": 1
    },
    {
        "id": "3d53504c88ef0aac",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 113,
        "width": 24,
        "height": 1
    },
    {
        "id": "509cca997cb332e6",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 114,
        "width": 24,
        "height": 1
    },
    {
        "id": "8b171b91359a2599",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 115,
        "width": 24,
        "height": 1
    },
    {
        "id": "026657eb11a6e7a9",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 116,
        "width": 24,
        "height": 1
    },
    {
        "id": "5f5bfc01533a863a",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 117,
        "width": 24,
        "height": 1
    },
    {
        "id": "f175750aa710ab45",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 118,
        "width": 24,
        "height": 1
    },
    {
        "id": "3b77edd09b793b38",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 119,
        "width": 24,
        "height": 1
    },
    {
        "id": "1a9544dec88e191f",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 120,
        "width": 24,
        "height": 1
    },
    {
        "id": "f4f56542ed62bb13",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 121,
        "width": 24,
        "height": 1
    },
    {
        "id": "f2dc2a33e4eed9c4",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 122,
        "width": 24,
        "height": 1
    },
    {
        "id": "c224a9df59b107a4",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 123,
        "width": 24,
        "height": 1
    },
    {
        "id": "6fbb8a7383bbb32c",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 124,
        "width": 24,
        "height": 1
    },
    {
        "id": "4a625776d288cbed",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 125,
        "width": 24,
        "height": 1
    },
    {
        "id": "e9cde0c0d8b8d1eb",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 126,
        "width": 24,
        "height": 1
    },
    {
        "id": "6fa301d960dfb9dc",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 127,
        "width": 24,
        "height": 1
    },
    {
        "id": "4c1e55307aafc2af",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 128,
        "width": 24,
        "height": 1
    },
    {
        "id": "04fb5edec8daefd7",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 129,
        "width": 24,
        "height": 1
    },
    {
        "id": "3e6e9b5695bf322a",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 130,
        "width": 24,
        "height": 1
    },
    {
        "id": "136fd99dc1b6b533",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 131,
        "width": 24,
        "height": 1
    },
    {
        "id": "b807fbafd9fc12b0",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 132,
        "width": 24,
        "height": 1
    },
    {
        "id": "9e11ae4ca2b167f4",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 133,
        "width": 24,
        "height": 1
    },
    {
        "id": "8d833463adfed4db",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 134,
        "width": 24,
        "height": 1
    },
    {
        "id": "2a8c3f0b06222795",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 135,
        "width": 24,
        "height": 1
    },
    {
        "id": "854ca1b168b4d5d1",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 136,
        "width": 24,
        "height": 1
    },
    {
        "id": "c2e85e322adeebd3",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 137,
        "width": 24,
        "height": 1
    },
    {
        "id": "3dd2678a30eb6505",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 138,
        "width": 24,
        "height": 1
    },
    {
        "id": "dd2838fd371b2ae3",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 139,
        "width": 24,
        "height": 1
    },
    {
        "id": "fa7962d29fa63248",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 140,
        "width": 24,
        "height": 1
    },
    {
        "id": "4d28c43a2f61bc21",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 141,
        "width": 24,
        "height": 1
    },
    {
        "id": "948a063d04d28010",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 142,
        "width": 24,
        "height": 1
    },
    {
        "id": "44b3428e95840ba4",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 143,
        "width": 24,
        "height": 1
    },
    {
        "id": "4480b85fabbbd796",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 144,
        "width": 24,
        "height": 1
    },
    {
        "id": "e547e59ec9a9afa8",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 145,
        "width": 24,
        "height": 1
    },
    {
        "id": "62d313d689c96153",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 146,
        "width": 24,
        "height": 1
    },
    {
        "id": "42a8a70806947d29",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 147,
        "width": 24,
        "height": 1
    },
    {
        "id": "966ecf45b387e81e",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 148,
        "width": 24,
        "height": 1
    },
    {
        "id": "a748061c30a9aa19",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 149,
        "width": 24,
        "height": 1
    },
    {
        "id": "ca1db27c1480447f",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 150,
        "width": 24,
        "height": 1
    },
    {
        "id": "d3a0724c32402c62",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 151,
        "width": 24,
        "height": 1
    },
    {
        "id": "c66e5203a7d03f1a",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 152,
        "width": 24,
        "height": 1
    },
    {
        "id": "304a0ae61f77288c",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 153,
        "width": 24,
        "height": 1
    },
    {
        "id": "04b76f4e7bbe4f3b",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 154,
        "width": 24,
        "height": 1
    },
    {
        "id": "596671d9269d5870",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 155,
        "width": 24,
        "height": 1
    },
    {
        "id": "df51d96499039b2f",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 156,
        "width": 24,
        "height": 1
    },
    {
        "id": "80411c1959b59c9f",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 157,
        "width": 24,
        "height": 1
    },
    {
        "id": "1bb9ec4375cb221d",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 158,
        "width": 24,
        "height": 1
    },
    {
        "id": "cdbc924f23204b03",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 159,
        "width": 24,
        "height": 1
    },
    {
        "id": "2462271f38060f92",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 160,
        "width": 24,
        "height": 1
    },
    {
        "id": "bf4ad9afaa60f076",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 161,
        "width": 24,
        "height": 1
    },
    {
        "id": "256eefdfd8706b20",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 162,
        "width": 24,
        "height": 1
    },
    {
        "id": "6126c6ef3c346692",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 163,
        "width": 24,
        "height": 1
    },
    {
        "id": "2448e1703c683e56",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 164,
        "width": 24,
        "height": 1
    },
    {
        "id": "3d26d17fa9d1e32e",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 165,
        "width": 24,
        "height": 1
    },
    {
        "id": "20f94449293a969b",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 166,
        "width": 24,
        "height": 1
    },
    {
        "id": "780caed918de77db",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 167,
        "width": 24,
        "height": 1
    },
    {
        "id": "2eba3458c8217cea",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 168,
        "width": 24,
        "height": 1
    },
    {
        "id": "deaf2e6b7b957b92",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 169,
        "width": 24,
        "height": 1
    },
    {
        "id": "98f4c4f5b057f172",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 170,
        "width": 24,
        "height": 1
    },
    {
        "id": "7461b2d0cb8f75e5",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 171,
        "width": 24,
        "height": 1
    },
    {
        "id": "af4dcc6b10e739aa",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 172,
        "width": 24,
        "height": 1
    },
    {
        "id": "b3784708b27f65a5",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 173,
        "width": 24,
        "height": 1
    },
    {
        "id": "7973585c56d1a93f",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 174,
        "width": 24,
        "height": 1
    },
    {
        "id": "4ab99c4bfd8630fe",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 175,
        "width": 24,
        "height": 1
    },
    {
        "id": "d33d93e4d4b4d643",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 176,
        "width": 24,
        "height": 1
    },
    {
        "id": "bb720dba510f2422",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 177,
        "width": 24,
        "height": 1
    },
    {
        "id": "36f215eff9d14416",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 178,
        "width": 24,
        "height": 1
    },
    {
        "id": "e3c93d5897d3a8aa",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 179,
        "width": 24,
        "height": 1
    },
    {
        "id": "bf4e092203daa201",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 180,
        "width": 24,
        "height": 1
    },
    {
        "id": "7d9f3020adb73916",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 181,
        "width": 24,
        "height": 1
    },
    {
        "id": "1cd94c27465f7fd5",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 182,
        "width": 24,
        "height": 1
    },
    {
        "id": "b281941370e26056",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 183,
        "width": 24,
        "height": 1
    },
    {
        "id": "750961e749b88601",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 184,
        "width": 24,
        "height": 1
    },
    {
        "id": "a3d533f20c021109",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 185,
        "width": 24,
        "height": 1
    },
    {
        "id": "9a4b43bde21c985e",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 186,
        "width": 24,
        "height": 1
    },
    {
        "id": "f002be4db4977844",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 187,
        "width": 24,
        "height": 1
    },
    {
        "id": "8e37b470ff230f5c",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 188,
        "width": 24,
        "height": 1
    },
    {
        "id": "f1625376e9725a0b",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 189,
        "width": 24,
        "height": 1
    },
    {
        "id": "fd5aaf84db5311d7",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 190,
        "width": 24,
        "height": 1
    },
    {
        "id": "f8ea4fce7212b091",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 191,
        "width": 24,
        "height": 1
    },
    {
        "id": "cc01662d12148a9b",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 192,
        "width": 24,
        "height": 1
    },
    {
        "id": "26c3e3481421df12",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 193,
        "width": 24,
        "height": 1
    },
    {
        "id": "b38b421823fb8a67",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 194,
        "width": 24,
        "height": 1
    },
    {
        "id": "52db47a476ad0b7b",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 195,
        "width": 24,
        "height": 1
    },
    {
        "id": "55f35f320c49bb0e",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 196,
        "width": 24,
        "height": 1
    },
    {
        "id": "f75a9fc5741d6816",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 197,
        "width": 24,
        "height": 1
    },
    {
        "id": "72ed54eb92a74fda",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 198,
        "width": 24,
        "height": 1
    },
    {
        "id": "0b8da803a35966eb",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 199,
        "width": 24,
        "height": 1
    },
    {
        "id": "3ea57c0cf713c8ce",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 200,
        "width": 24,
        "height": 1
    },
    {
        "id": "f3f7dd77a46e649d",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 201,
        "width": 24,
        "height": 1
    },
    {
        "id": "b509bb581bfe4794",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 202,
        "width": 24,
        "height": 1
    },
    {
        "id": "3a2c1e858081adb2",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 203,
        "width": 24,
        "height": 1
    },
    {
        "id": "d564d4501f470b3f",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 204,
        "width": 24,
        "height": 1
    },
    {
        "id": "dd25f8fec368f7fe",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 205,
        "width": 24,
        "height": 1
    },
    {
        "id": "8f59fad8ff5dfc27",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 206,
        "width": 24,
        "height": 1
    },
    {
        "id": "d6978a1abe8dcd60",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 207,
        "width": 24,
        "height": 1
    },
    {
        "id": "ce6d360f5559703a",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 208,
        "width": 24,
        "height": 1
    },
    {
        "id": "db4f578b5b2081f0",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 209,
        "width": 24,
        "height": 1
    },
    {
        "id": "5071c609f4b5d477",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 210,
        "width": 24,
        "height": 1
    },
    {
        "id": "a202434d9d3efc9b",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 211,
        "width": 24,
        "height": 1
    },
    {
        "id": "1e9fbf17afa6c1ca",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 212,
        "width": 24,
        "height": 1
    },
    {
        "id": "f32e49086757ec3d",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 213,
        "width": 24,
        "height": 1
    },
    {
        "id": "bbf22a4ac202954b",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 214,
        "width": 24,
        "height": 1
    },
    {
        "id": "ca25879ab1aad8d4",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 215,
        "width": 24,
        "height": 1
    },
    {
        "id": "66857029df20280a",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 216,
        "width": 24,
        "height": 1
    },
    {
        "id": "705da29f1be7af8e",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 217,
        "width": 24,
        "height": 1
    },
    {
        "id": "d85f92766c364794",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 218,
        "width": 24,
        "height": 1
    },
    {
        "id": "c0deb62d4d882350",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 219,
        "width": 24,
        "height": 1
    },
    {
        "id": "ab2dfb2d978d4157",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 220,
        "width": 24,
        "height": 1
    },
    {
        "id": "411390cb1579387d",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 222,
        "width": 18,
        "height": 1
    },
    {
        "id": "4f19f1d361a295ae",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 223,
        "width": 18,
        "height": 1
    },
    {
        "id": "539503c296bed2f5",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 224,
        "width": 18,
        "height": 1
    },
    {
        "id": "4c2f8b0006a99cd3",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 225,
        "width": 18,
        "height": 1
    },
    {
        "id": "8f2ba297182a5adf",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 226,
        "width": 18,
        "height": 1
    },
    {
        "id": "eca764556d8080fc",
        "type": "ui_spacer",
        "z": "bb656782406480db",
        "name": "spacer",
        "group": "09264abf46c2454e",
        "order": 227,
        "width": 18,
        "height": 1
    },
    {
        "id": "50427091.afbd9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "14af94f28f15dbaa",
        "type": "mysql2-server",
        "host": "127.0.0.1",
        "port": "3306",
        "username": "root",
        "password": "pipi",
        "db": "touchData",
        "servername": "Mongooo"
    },
    {
        "id": "09264abf46c2454e",
        "type": "ui_group",
        "name": "Health Monitor",
        "tab": "64c46696d3c4a4b0",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "64c46696d3c4a4b0",
        "type": "ui_tab",
        "name": "SafetyShield",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]